/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: -5rem;
  margin: 30px;
}
.header__logo {
  height: 1rem;
}
.header__button {
  padding: 0.4rem;
  padding-inline: 2rem;
  background-color: white;
  color: black;
  width: 150px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 29px 29px 58px #b8b8b8, -29px -29px 58px #ffffff;
}

/*MAIN*/
body {
  background-image: url(../img/bg_hero_desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 50px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main__firstParagraph__title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  font-size: xx-large;
  margin-top: 60px;
}

.main__firstParagraph__bouton {
  display: inline-block;
  width: 180px;
  height: 30px;
  background-color: fuchsia;
  color: white;
  border: 1px solid fuchsia;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 24px;
  margin-left: 4px;
}
.main__firstParagraph__paragraph {
  margin: 10px;
}
.main__illustration {
  width: 48vw;
}

/* Style Guide */

html {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Poppins;
}
a {
  font-weight: 700;
}

/* Main */
.main {
  background-image: url(../img/bg_hero_desktop.svg);
  display: flex;
}
.main__firstParagraph {
  align-items: center;
  height: 100%;
}
.main__illustration {
  width: 60vw;
}
/* Section */
