/* Style Guide________________________________________________________ */

/* Header_____________________________________________________________ */

/* Main_______________________________________________________________ */

/* Section____________________________________________________________ */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

/* section__premier block */
.section__first--block {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas:
        'titre image'
        'content image'
        'content image';
    box-shadow: 0 0 20px -15px;
    width: 80vw;
    padding: 2rem;
    padding-left: 6vw;
    margin: 2rem;
    /* padding-inline: 5%; */
}
.section__first--block__title {
    grid-area: titre;
    align-self: end;
}
.section__first--block__paragraph {
    grid-area: content;
    margin-top: 1.5rem;
    color: hsl(208, 11%, 55%);
}
.section__first--block__illustration {
    grid-area: image;
    /* height: 300px; */
    width: 100%;
}

/* Section__second block */
.section__second--block {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas:
        'image titre'
        'image content'
        'image content';
    box-shadow: 0 0 20px -15px;
    width: 80vw;
    padding: 2rem;
    padding-left: 6vw;
    margin: 2rem;
}
.section__second--block__title {
    grid-area: titre;
    align-self: end;
}
.section__second--block__paragraph {
    grid-area: content;
    margin-top: 1.5rem;
    color: hsl(208, 11%, 55%);
}
.section__second--block__illustration {
    grid-area: image;
    /* height: 300px; */
    width: 100%;
    padding-right: 6vw;
}

/* section__troisième block */
.section__third--block {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas:
        'titre image'
        'content image'
        'content image';
    box-shadow: 0 0 20px -15px;
    width: 80vw;
    padding: 2rem;
    padding-left: 6vw;
    margin: 2rem;
}
.section__third--block__title {
    grid-area: titre;
    align-self: end;
}
.section__third--block__paragraph {
    grid-area: content;
    margin-top: 1.5rem;
    color: hsl(208, 11%, 55%);
}
.section__third--block__illustration {
    grid-area: image;
    /* height: 300px; */
    width: 100%;
}

/* Aside______________________________________________________________*/
.aside {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 600px;
    height: 10rem;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.8rem;
    box-shadow: 0 0 20px -15px;
    position: relative;
    top: 5rem;
    z-index: 100;
    margin: auto;
}
.aside--title {
    font-size: large;
    justify-self: center;
}
.aside__button {
    background-color: hsl(322, 100%, 66%);
    padding: 0.8rem;
    padding-inline: 2.5rem;
    border-radius: 2rem;
    color: white;
}
.aside__button:hover {
    background-color: hsl(322, 100%, 78%);
    transition: 1s cubic-bezier(0, 1, 0.5, 1);
}

/* footer_____________________________________________________________ */
.footer {
    display: grid;
    position: relative;
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 5fr 3fr 2fr;
    grid-auto-flow: column;
    grid-template-areas:
        'logo . .'
        'contacts nav social'
        '. . copyrights';
    color: white;
    background-color: hsl(192, 100%, 9%);
    height: 400px;
    padding-left: 5%;
    * {
        font-weight: 400;
    }
}
.footer__logo {
    grid-area: logo;
    align-self: end;
    height: 2rem;
}
.footer__contacts {
    grid-area: contacts;
    padding-left: 3rem;
    padding-block: 2rem;
    a {
        color: #ffffff;
    }
    a:hover {
        text-decoration: underline;
    }
}
.footer__contacts__adress {
    list-style: url(../img/icon_location.svg);
}
.footer__contacts__telephone {
    list-style: url(../img/icon_phone.svg);
}
.footer__contacts__mail {
    list-style: url(../img/icon_email.svg);
}
.footer__nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
    a {
        color: #ffffff;
    }
    a:hover {
        text-decoration: underline;
    }
}
.footer__nav li {
    list-style: none;
    height: 40px;
}
.footer__social {
    grid-area: social;
    display: flex;
    align-items: center;
}

.footer__social a {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    color: white;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-inline: 0.5rem;
}
.footer__social a:hover {
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    transition: 1s cubic-bezier(0, 1, 0.5, 1);
}
.footer__copyrights {
    grid-area: copyrights;
    display: flex;
    align-self: self-end;
    margin-left: -2rem;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 2rem;
}
