/* pour les écrans d'une largeur inférieur à 1440px
(tablettes) */
@media only screen and (max-width: 1050px) {
    /* header_____________________________________ */

    /* main_______________________________________ */
    .main {
        display: block;
    }
    .main__firstParagraph {
        align-items: center;
        padding-bottom: 20px;
        width: auto;
    }
    .main__firstParagraph__title {
        text-align: center;
        min-width: 0;
    }
    .main__firstParagraph__paragraph {
        text-align: center;
    }
    .main__firstParagraph__bouton {
        text-align: center;
    }
    .main__div--image {
        justify-content: center;
    }
    .main__div--image__illustration {
        max-height: 50vh;
        width: auto;
    }
    /* section____________________________________ */

    /* aside______________________________________ */

    /* footer_____________________________________ */
}

/* pour les écrans d'une largeur inférieur à 375px
(téléphone vertical) */
@media only screen and (max-width: 480px) {
    /* header_____________________________________ */

    /* Main_____________________________________________________________ */
    .main__div--image__illustration {
        align-self: center;
        height: 70vw;
        margin-top: 30px;
        width: auto;
    }

    /* section____________________________________ */

    /* aside______________________________________ */

    /* footer_____________________________________ */
}
